<div class="container">

  <h2 class="imagePadding">Welcome <%= current_user.uname %></h2>

  <div class="imagePadding"><%= image_tag current_user.picture, size: "180x200"%></div>

  <h3 class="center"> Here are your picks: </h3>

  <!-- this code generates the user form which was filled out when he/she signed up. -->
  <table class="table table-hover table-condensed">
    <h4 class="center">Group Stage</h4>
    <thead>
    </thead>
    <tbody>
      <% @userMatches.each do |m| %>
        <tr>
          <th scope="row"><%= m.match.id %></th>
          <td><%= m.match.matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
          <td><%= m.match.teams[0].name %> </td>
          <td><%= image_tag m.match.teams[0].flag, size: "38x26" %></td>
          <td><%= MatchUser.where(:user_id => @user.id).find(m).pScore1 %> X <%= MatchUser.where(:user_id => @user.id).find(m).pScore2 %>
          <td><%= image_tag m.match.teams[1].flag, size: "38x26"%></td>
          <td><%= m.match.teams[1].name %></td>
          <td><%= m.match.city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Bellow is the code for calculating the group standings and stats -->
  <!-- calculating winners losers and ties, goals for, goals against-->
    <% winners = [] %>
    <% losers = [] %>
    <% ties = [] %>
    <% goalsFor = [] %>
    <% goalsAgainst = [] %>

    <% @userMatches.each do |m| %>
      <!-- calculating the goals for -->
      <% t1n = m.match.teams[0].name %>
      <% gf1 = MatchUser.where(:user_id => @user.id).find(m).pScore1 %>
      <% t2n = m.match.teams[1].name %>
      <% gf2 = MatchUser.where(:user_id => @user.id).find(m).pScore2 %>
      <% goalsFor.push t1n, gf1, t2n, gf2 %>  <!-- creates an array with all teams and scores -->
      <!-- calculating the goals against -->
      <% t1n = m.match.teams[0].name %>
      <% gf1 = MatchUser.where(:user_id => @user.id).find(m).pScore2 %>
      <% t2n = m.match.teams[1].name %>
      <% gf2 = MatchUser.where(:user_id => @user.id).find(m).pScore1 %>
      <% goalsAgainst.push t1n, gf1, t2n, gf2 %>  <!-- creates an array with all teams and scores -->

      <% if MatchUser.where(:user_id => @user.id).find(m).pScore1 > MatchUser.where(:user_id => @user.id).find(m).pScore2 %> <!-- checks if score 1 is bigger than score 2 -->
        <% a = MatchUser.where(:user_id => @user.id).find(m) %> <!-- creates string a to hold the match data -->
        <% a.pWinner = m.match.teams[0].name %> <!-- pWinner gets the team name -->
        <% a.pLoser = m.match.teams[1].name %> <!-- pLoser gets the team name -->
        <% a.save %> <!-- pWinner gets saved -->
        <% winners.push a.pWinner %> <!-- pWinner name gets pushed into database -->
        <% losers.push a.pLoser %> <!-- pLoser name gets pushed into database -->
      <% elsif MatchUser.where(:user_id => @user.id).find(m).pScore1 < MatchUser.where(:user_id => @user.id).find(m).pScore2 %>
        <% b = MatchUser.where(:user_id => @user.id).find(m) %>
        <% b.pWinner = m.match.teams[1].name %>
        <% b.pLoser = m.match.teams[0].name %>
        <% b.save %>
        <%winners.push b.pWinner %>
        <%losers.push b.pLoser %>
      <% else %>
        <% c = MatchUser.where(:user_id => @user.id).find(m) %>
        <% c.pTie1 = m.match.teams[0].name %>
        <% c.pTie2 = m.match.teams[1].name %>
        <% c.save %>
        <%ties.push c.pTie1 %>
        <%ties.push c.pTie2 %>
      <% end %>
    <% end %>

  <hr>
    <!-- test stuff -->
    <!-- Winners Array: <%=  winners %>
    <%= winners.count @teams.find(2).name %><br/>
    Losers Array <%= losers %>
    <%= losers.count @teams.find(2).name %><br/>
    Ties Array <%= ties %>
    <%= ties.count @teams.find(2).name %><br/>
    Goals For: <%= goalsFor %><br/>
    <%= goalsFor.each_index.select{|i| goalsFor[i] == "Brazil"}%><br/>
    <% indexes = goalsFor.each_index.select{|i| goalsFor[i-1] == "Brazil"}%>
    <%= indexes %><br/>
    <%= goalsFor[indexes[0]] + goalsFor[indexes[1]] + goalsFor[indexes[2]] %><br/>
    Goals Against: <%= goalsAgainst %><br/>
    <%= goalsAgainst.each_index.select{|i| goalsAgainst[i] == "Brazil"}%><br/>
    <% indexes = goalsAgainst.each_index.select{|i| goalsAgainst[i-1] == "Brazil"}%>
    <%= indexes %><br/>
    <%= goalsAgainst[indexes[0]] + goalsAgainst[indexes[1]] + goalsAgainst[indexes[2]] %><br/><br/> -->





  <table class="table table-hover table-condensed">
    <h2 class="center">Standings</h2>
    <thead>
    <% groupLetters = {1 => "A", 2 => "B", 3 => "C", 4 => "D", 5 => "E", 6 => "F", 7 => "G", 8 => "H"} %>
    <% i = 1 %>
    <% while i < 9 %>
      <tr>
        <th>Group <%=groupLetters[i]%></th>
        <th>Win</th>
        <th>Tie</th>
        <th>Loss</th>
        <th>GF</th>
        <th>GA</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |t| %>
        <% if t.group_id == i %>
        <tr>
          <th scope="row"><%= image_tag @teams.find(t).flag %> <%= @teams.find(t).name %> </th>
          <td><%= winners.count t.name %> </td>
          <td><%= ties.count t.name %> </td>
          <td><%= losers.count t.name %> </td>
          <td><% goalsFor.each_index.select{|i| goalsFor[i] == t.name}%>  <!-- calculating the goals for -->
              <% indexes = goalsFor.each_index.select{|i| goalsFor[i-1] == t.name}%>
              <% indexes %>
              <%= goalsFor[indexes[0]] + goalsFor[indexes[1]] + goalsFor[indexes[2]] %>
          </td>
          <td><% goalsAgainst.each_index.select{|i| goalsAgainst[i] == t.name}%>    <!-- calculating the goals against -->
              <% indexes = goalsAgainst.each_index.select{|i| goalsAgainst[i-1] == t.name}%>
              <% indexes %>
              <%= goalsAgainst[indexes[0]] + goalsAgainst[indexes[1]] + goalsAgainst[indexes[2]] %>
          </td>
          <td><%= (winners.count t.name) * 3 + (ties.count t.name) %> </td>
        </tr>
        <% end %>
      <% end %>
      <% i += 1 %>
    <% end %>
    </tbody>
  </table>
</div>
