<%= form_for @match do |f| %>
  <table class="table table-hover table-condensed">
    <caption>Group Stage</caption>
    <thead>
      <!-- <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr> -->
    </thead>
    <tbody>
      <% @matches.each do |m| %>
        <tr>
          <th scope="row"><%= @matches.find(m).id %></th>
          <td><%= @matches.find(m).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
          <td><%= @matches.find(m).teams.first.name %> </td>
          <td><%= image_tag @matches.find(m).teams.first.flag, size: "38x26" %></td>
          <td>
            <div class="field">
              <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
            </div>
          </td>
          <td><%= image_tag @matches.find(m).teams.last.flag, size: "38x26"%></td>
          <td><%= @matches.find(m).teams.last.name %></td>
          <td><%= @matches.find(m).city %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="actions"><%= f.submit %></div><br/><br/>
<% end %>
