<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Picks</title>
  </head>
  <body>
    <table class="table">
      <caption>Group Stage</caption>
      <thead>
        <!-- <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr> -->
      </thead>
      <tbody>
        <%= form_for @match do |f| %>
          <!-- Match01 -->
          <tr>
            <th scope="row">1</th>
            <td><%= Match.find(1).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(1).name %> </td>
            <td><%= image_tag Team.find(1).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(3).flag, size: "38x26" %></td>
            <td><%= Team.find(3).name %></td>
            <td><%= Match.find(1).city %></td>
          </tr>
          <!-- Match02 -->
          <tr>
            <th scope="row">2</th>
            <td><%= Match.find(2).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(2).name %> </td>
            <td><%= image_tag Team.find(2).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(4).flag, size: "38x26" %></td>
            <td><%= Team.find(4).name %></td>
            <td><%= Match.find(2).city %></td>
          </tr>
          <!-- Match03 -->
          <tr>
            <th scope="row">3</th>
            <td><%= Match.find(3).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(5).name %> </td>
            <td><%= image_tag Team.find(5).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(7).flag, size: "38x26" %></td>
            <td><%= Team.find(7).name %></td>
            <td><%= Match.find(3).city %></td>
          </tr>
          <!-- Match04 -->
          <tr>
            <th scope="row">4</th>
            <td><%= Match.find(4).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(6).name %> </td>
            <td><%= image_tag Team.find(6).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(8).flag, size: "38x26" %></td>
            <td><%= Team.find(8).name %></td>
            <td><%= Match.find(4).city %></td>
          </tr>
          <!-- Match05 -->
          <tr>
            <th scope="row">5</th>
            <td><%= Match.find(5).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(9).name %> </td>
            <td><%= image_tag Team.find(9).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(10).flag, size: "38x26" %></td>
            <td><%= Team.find(10).name %></td>
            <td><%= Match.find(5).city %></td>
          </tr>
          <!-- Match06 -->
          <tr>
            <th scope="row">6</th>
            <td><%= Match.find(6).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(11).name %> </td>
            <td><%= image_tag Team.find(11).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(12).flag, size: "38x26" %></td>
            <td><%= Team.find(12).name %></td>
            <td><%= Match.find(6).city %></td>
          </tr>
          <!-- Match07 -->
          <tr>
            <th scope="row">7</th>
            <td><%= Match.find(7).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(13).name %> </td>
            <td><%= image_tag Team.find(13).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(16).flag, size: "38x26" %></td>
            <td><%= Team.find(16).name %></td>
            <td><%= Match.find(7).city %></td>
          </tr>
          <!-- Match08 -->
          <tr>
            <th scope="row">8</th>
            <td><%= Match.find(8).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(15).name %> </td>
            <td><%= image_tag Team.find(15).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(14).flag, size: "38x26" %></td>
            <td><%= Team.find(14).name %></td>
            <td><%= Match.find(8).city %></td>
          </tr>
          <!-- Match09 -->
          <tr>
            <th scope="row">9</th>
            <td><%= Match.find(9).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(17).name %> </td>
            <td><%= image_tag Team.find(17).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(19).flag, size: "38x26" %></td>
            <td><%= Team.find(19).name %></td>
            <td><%= Match.find(9).city %></td>
          </tr>
          <!-- Match10 -->
          <tr>
            <th scope="row">10</th>
            <td><%= Match.find(10).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(18).name %> </td>
            <td><%= image_tag Team.find(18).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(20).flag, size: "38x26" %></td>
            <td><%= Team.find(20).name %></td>
            <td><%= Match.find(10).city %></td>
          </tr>
          <!-- Match11 -->
          <tr>
            <th scope="row">11</th>
            <td><%= Match.find(11).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(21).name %> </td>
            <td><%= image_tag Team.find(21).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(22).flag, size: "38x26" %></td>
            <td><%= Team.find(22).name %></td>
            <td><%= Match.find(11).city %></td>
          </tr>
          <!-- Match12 -->
          <tr>
            <th scope="row">12</th>
            <td><%= Match.find(12).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(25).name %> </td>
            <td><%= image_tag Team.find(25).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(26).flag, size: "38x26" %></td>
            <td><%= Team.find(26).name %></td>
            <td><%= Match.find(12).city %></td>
          </tr>
          <!-- Match13 -->
          <tr>
            <th scope="row">13</th>
            <td><%= Match.find(13).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(23).name %> </td>
            <td><%= image_tag Team.find(23).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(24).flag, size: "38x26" %></td>
            <td><%= Team.find(24).name %></td>
            <td><%= Match.find(13).city %></td>
          </tr>
          <!-- Match14 -->
          <tr>
            <th scope="row">14</th>
            <td><%= Match.find(14).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(28).name %> </td>
            <td><%= image_tag Team.find(28).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(27).flag, size: "38x26" %></td>
            <td><%= Team.find(27).name %></td>
            <td><%= Match.find(14).city %></td>
          </tr>
          <!-- Match15 -->
          <tr>
            <th scope="row">15</th>
            <td><%= Match.find(15).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(29).name %> </td>
            <td><%= image_tag Team.find(29).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(31).flag, size: "38x26" %></td>
            <td><%= Team.find(31).name %></td>
            <td><%= Match.find(15).city %></td>
          </tr>
          <!-- Match16 -->
          <tr>
            <th scope="row">16</th>
            <td><%= Match.find(16).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(1).name %> </td>
            <td><%= image_tag Team.find(1).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(2).flag, size: "38x26" %></td>
            <td><%= Team.find(2).name %></td>
            <td><%= Match.find(16).city %></td>
          </tr>
          <!-- Match17 -->
          <tr>
            <th scope="row">17</th>
            <td><%= Match.find(17).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(30).name %> </td>
            <td><%= image_tag Team.find(30).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(32).flag, size: "38x26" %></td>
            <td><%= Team.find(32).name %></td>
            <td><%= Match.find(17).city %></td>
          </tr>
          <!-- Match18 -->
          <tr>
            <th scope="row">18</th>
            <td><%= Match.find(18).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(8).name %> </td>
            <td><%= image_tag Team.find(8).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(7).flag, size: "38x26" %></td>
            <td><%= Team.find(7).name %></td>
            <td><%= Match.find(18).city %></td>
          </tr>
          <!-- Match19 -->
          <tr>
            <th scope="row">19</th>
            <td><%= Match.find(19).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(4).name %> </td>
            <td><%= image_tag Team.find(4).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(3).flag, size: "38x26" %></td>
            <td><%= Team.find(3).name %></td>
            <td><%= Match.find(19).city %></td>
          </tr>
          <!-- Match20 -->
          <tr>
            <th scope="row">20</th>
            <td><%= Match.find(20).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(5).name %> </td>
            <td><%= image_tag Team.find(5).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(6).flag, size: "38x26" %></td>
            <td><%= Team.find(6).name %></td>
            <td><%= Match.find(20).city %></td>
          </tr>
          <!-- Match21 -->
          <tr>
            <th scope="row">21</th>
            <td><%= Match.find(21).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(9).name %> </td>
            <td><%= image_tag Team.find(9).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(11).flag, size: "38x26" %></td>
            <td><%= Team.find(11).name %></td>
            <td><%= Match.find(21).city %></td>
          </tr>
          <!-- Match22 -->
          <tr>
            <th scope="row">22</th>
            <td><%= Match.find(22).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(13).name %> </td>
            <td><%= image_tag Team.find(13).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(15).flag, size: "38x26" %></td>
            <td><%= Team.find(15).name %></td>
            <td><%= Match.find(22).city %></td>
          </tr>
          <!-- Match23 -->
          <tr>
            <th scope="row">23</th>
            <td><%= Match.find(23).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(12).name %> </td>
            <td><%= image_tag Team.find(12).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(10).flag, size: "38x26" %></td>
            <td><%= Team.find(10).name %></td>
            <td><%= Match.find(23).city %></td>
          </tr>
          <!-- Match24 -->
          <tr>
            <th scope="row">24</th>
            <td><%= Match.find(24).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(14).name %> </td>
            <td><%= image_tag Team.find(14).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(16).flag, size: "38x26" %></td>
            <td><%= Team.find(16).name %></td>
            <td><%= Match.find(24).city %></td>
          </tr>
          <!-- Match25 -->
          <tr>
            <th scope="row">25</th>
            <td><%= Match.find(25).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(17).name %> </td>
            <td><%= image_tag Team.find(17).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(18).flag, size: "38x26" %></td>
            <td><%= Team.find(18).name %></td>
            <td><%= Match.find(25).city %></td>
          </tr>
          <!-- Match26 -->
          <tr>
            <th scope="row">26</th>
            <td><%= Match.find(26).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(20).name %> </td>
            <td><%= image_tag Team.find(20).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(19).flag, size: "38x26" %></td>
            <td><%= Team.find(19).name %></td>
            <td><%= Match.find(26).city %></td>
          </tr>
          <!-- Match27 -->
          <tr>
            <th scope="row">27</th>
            <td><%= Match.find(27).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(21).name %> </td>
            <td><%= image_tag Team.find(21).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(23).flag, size: "38x26" %></td>
            <td><%= Team.find(23).name %></td>
            <td><%= Match.find(27).city %></td>
          </tr>
          <!-- Match28 -->
          <tr>
            <th scope="row">28</th>
            <td><%= Match.find(28).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(25).name %> </td>
            <td><%= image_tag Team.find(25).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(28).flag, size: "38x26" %></td>
            <td><%= Team.find(28).name %></td>
            <td><%= Match.find(28).city %></td>
          </tr>
          <!-- Match29 -->
          <tr>
            <th scope="row">29</th>
            <td><%= Match.find(29).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(24).name %> </td>
            <td><%= image_tag Team.find(24).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(22).flag, size: "38x26" %></td>
            <td><%= Team.find(22).name %></td>
            <td><%= Match.find(29).city %></td>
          </tr>
          <!-- Match30 -->
          <tr>
            <th scope="row">30</th>
            <td><%= Match.find(30).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(32).name %> </td>
            <td><%= image_tag Team.find(32).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(31).flag, size: "38x26" %></td>
            <td><%= Team.find(31).name %></td>
            <td><%= Match.find(30).city %></td>
          </tr>
          <!-- Match31 -->
          <tr>
            <th scope="row">31</th>
            <td><%= Match.find(31).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(27).name %> </td>
            <td><%= image_tag Team.find(27).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(26).flag, size: "38x26" %></td>
            <td><%= Team.find(26).name %></td>
            <td><%= Match.find(31).city %></td>
          </tr>
          <!-- Match32 -->
          <tr>
            <th scope="row">32</th>
            <td><%= Match.find(32).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(29).name %> </td>
            <td><%= image_tag Team.find(29).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(30).flag, size: "38x26" %></td>
            <td><%= Team.find(30).name %></td>
            <td><%= Match.find(32).city %></td>
          </tr>
          <!-- Match33 -->
          <tr>
            <th scope="row">33</th>
            <td><%= Match.find(33).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(8).name %> </td>
            <td><%= image_tag Team.find(8).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(5).flag, size: "38x26" %></td>
            <td><%= Team.find(5).name %></td>
            <td><%= Match.find(33).city %></td>
          </tr>
          <!-- Match34 -->
          <tr>
            <th scope="row">34</th>
            <td><%= Match.find(34).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(7).name %> </td>
            <td><%= image_tag Team.find(7).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(6).flag, size: "38x26" %></td>
            <td><%= Team.find(6).name %></td>
            <td><%= Match.find(34).city %></td>
          </tr>
          <!-- Match35 -->
          <tr>
            <th scope="row">35</th>
            <td><%= Match.find(35).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(4).name %> </td>
            <td><%= image_tag Team.find(4).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(1).flag, size: "38x26" %></td>
            <td><%= Team.find(1).name %></td>
            <td><%= Match.find(35).city %></td>
          </tr>
          <!-- Match36 -->
          <tr>
            <th scope="row">36</th>
            <td><%= Match.find(36).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(3).name %> </td>
            <td><%= image_tag Team.find(3).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(2).flag, size: "38x26" %></td>
            <td><%= Team.find(2).name %></td>
            <td><%= Match.find(36).city %></td>
          </tr>
          <!-- Match37 -->
          <tr>
            <th scope="row">37</th>
            <td><%= Match.find(37).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(14).name %> </td>
            <td><%= image_tag Team.find(14).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(13).flag, size: "38x26" %></td>
            <td><%= Team.find(13).name %></td>
            <td><%= Match.find(37).city %></td>
          </tr>
          <!-- Match38 -->
          <tr>
            <th scope="row">38</th>
            <td><%= Match.find(38).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(16).name %> </td>
            <td><%= image_tag Team.find(16).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(15).flag, size: "38x26" %></td>
            <td><%= Team.find(15).name %></td>
            <td><%= Match.find(38).city %></td>
          </tr>
          <!-- Match39 -->
          <tr>
            <th scope="row">39</th>
            <td><%= Match.find(39).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(12).name %> </td>
            <td><%= image_tag Team.find(12).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(9).flag, size: "38x26" %></td>
            <td><%= Team.find(9).name %></td>
            <td><%= Match.find(39).city %></td>
          </tr>
          <!-- Match40 -->
          <tr>
            <th scope="row">40</th>
            <td><%= Match.find(40).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(10).name %> </td>
            <td><%= image_tag Team.find(10).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(11).flag, size: "38x26" %></td>
            <td><%= Team.find(11).name %></td>
            <td><%= Match.find(40).city %></td>
          </tr>
          <!-- Match41 -->
          <tr>
            <th scope="row">41</th>
            <td><%= Match.find(41).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(24).name %> </td>
            <td><%= image_tag Team.find(24).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(21).flag, size: "38x26" %></td>
            <td><%= Team.find(21).name %></td>
            <td><%= Match.find(41).city %></td>
          </tr>
          <!-- Match42 -->
          <tr>
            <th scope="row">42</th>
            <td><%= Match.find(42).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(22).name %> </td>
            <td><%= image_tag Team.find(22).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(23).flag, size: "38x26" %></td>
            <td><%= Team.find(23).name %></td>
            <td><%= Match.find(42).city %></td>
          </tr>
          <!-- Match43 -->
          <tr>
            <th scope="row">43</th>
            <td><%= Match.find(43).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(20).name %> </td>
            <td><%= image_tag Team.find(20).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(17).flag, size: "38x26" %></td>
            <td><%= Team.find(17).name %></td>
            <td><%= Match.find(43).city %></td>
          </tr>
          <!-- Match44 -->
          <tr>
            <th scope="row">44</th>
            <td><%= Match.find(44).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(19).name %> </td>
            <td><%= image_tag Team.find(19).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(18).flag, size: "38x26" %></td>
            <td><%= Team.find(18).name %></td>
            <td><%= Match.find(44).city %></td>
          </tr>
          <!-- Match45 -->
          <tr>
            <th scope="row">45</th>
            <td><%= Match.find(45).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(27).name %> </td>
            <td><%= image_tag Team.find(27).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(25).flag, size: "38x26" %></td>
            <td><%= Team.find(25).name %></td>
            <td><%= Match.find(45).city %></td>
          </tr>
          <!-- Match46 -->
          <tr>
            <th scope="row">46</th>
            <td><%= Match.find(46).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(26).name %> </td>
            <td><%= image_tag Team.find(26).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(28).flag, size: "38x26" %></td>
            <td><%= Team.find(28).name %></td>
            <td><%= Match.find(46).city %></td>
          </tr>
          <!-- Match47 -->
          <tr>
            <th scope="row">47</th>
            <td><%= Match.find(47).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(32).name %> </td>
            <td><%= image_tag Team.find(32).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(29).flag, size: "38x26" %></td>
            <td><%= Team.find(29).name %></td>
            <td><%= Match.find(47).city %></td>
          </tr>
          <!-- Match48 -->
          <tr>
            <th scope="row">48</th>
            <td><%= Match.find(48).matchday.strftime("%a %b %d, %Y %H:%M") %> </td>
            <td><%= Team.find(31).name %> </td>
            <td><%= image_tag Team.find(31).flag, size: "38x26" %></td>
            <td>
              <div class="field">
                <%= f.text_field :score1, :maxlength=>"3" %> X <%= f.text_field :score2, :maxlength=>"3" %>
              </div>
            </td>
            <td><%= image_tag Team.find(30).flag, size: "38x26" %></td>
            <td><%= Team.find(30).name %></td>
            <td><%= Match.find(48).city %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </body>
</html>
