<!DOCTYPE html>
<html>
<head>
  <title>BolaoDaCopa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= message %>
    </div>
  <% end %>
  <% if current_user %>
    <p>Hello, <%= current_user.uname %> <%= link_to 'Logout', session_path(session), method: :delete%></p>
  <%else%>
    Already registered? <%= link_to "Please Login", new_session_path%>
  <%end%>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
